
<h2>Automobile Customer Form</h2>
<div>
  <input #fullName type="text" placeholder="FullName"  /><br> <br>
  <input #address type="text" placeholder="Address"/><br> <br>
  <input #automobileType type="text" placeholder="Automobile Type"/><br> <br>
  <button (click)="createCustomer(fullName.value, address.value, automobileType.value)">Create Customer</button>
</div>
<br/>
<h1>Customer</h1>

<div class="input-group">
  <input type="search" class="form-control rounded" placeholder="Search Automobile Customer" aria-label="Search" aria-describedby="search-addon" />
  <button type="button" class="btn btn-outline-primary">search</button>
</div>


<br/>
<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">AutomobileType</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of allCustomers">
      <td>{{customer.fullName}}</td>
      <td>{{customer.address}}</td>
      <td>{{customer.automobileType}}</td>
      <button (click)="deleteCustomer(customer.id)">Delete</button>
      <button (click)="updateCustomer()">Update</button>
    </tr>
  </tbody>
</table>

<br/>

